<!DOCTYPE html>
<html data-no-touch="true" data-theme="light">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover"/>
    <link href="{{ static('vendors.css') }}" rel="stylesheet"/>
    <link href="{{ static('app.css') }}" rel="stylesheet"/>
    <link href="{{ static('live.css') }}" rel="stylesheet"/>
    <script src="{{ static('jquery-3.3.1.min.js') }}"></script>
    <style>
        .min {
            width: 100px;
            height: auto;
        }
    </style>
    <script>

    </script>
    <title>{{ live.title }}--知乎live </title>
</head>
<body data-app-release="26-0ffdb62c" class="">
<div id="root">
    <div class="App-root-yDWl App-hasTopNavBar-w3Tm">
        <div class="Layout-layout-2UiI Layout-fixedHeight-34H_ Layout-hasSideBar-25X6 Layout-isDesktop-7lvR Layout-hasTopNavBar-3rvP">
            <div class="Layout-main-2ROT">
                <div class="MessagesPageMain-main-1_pw">
                    <div class="MessagesHeader-header-1wi8">
                        <h1 class="MessagesHeader-title-2leL utils-textEllipsis-3d6Q">{{ live.title }}
                            (参与人数:{{ live.seats_count }})</h1>
                    </div>
                    <div id="Scrollable" class="MessagesPageMain-scrollable-2zw_ MessagesInfinity-scrollable-3zh8">
                        <div class="MessagesInfinity-infinity-4X23 Receptacle-root-C0q8">
                            <div data-id="758036977177096192" class="MessageItem-item-1dkw MessageItem-alignStart-2rNW">
                                <div class="MessageItem-container-2ufC">
                                    <div class="MessageItem-info-3g0Q">
                                        <span class="MessageItem-name-1pbG">葛巾</span>
                                        <div class="MessageItem-content-sfT0" style="min-width: 11.3%;">
                                            <div class="MessageItem-playerContainer-1PN6">
                                                <div class="Bubble-bubble-3QtP MessageItem-playerContainerChild-cgnp Bubble-blue-hRSs">
                                                    <div class="TextAttachment-text-QdRA">
                                                        <span class="Linkify">葛大，即将步入职场的女生在挑选正装方面有什么要注意的地方呢，怎样才能穿着得体又不失活力？</span>
                                                    </div>
                                                    <hr class="MessageItem-split-3r5G"/>
                                                    <audio controls="" preload="auto"
                                                           style="width: 375px; height: 54px">
                                                        <source src="https://html5tutorial.info/media/vincent.mp3"
                                                                type="audio/mpeg">
                                                        <source src="https://html5tutorial.info/media/vincent.ogg"
                                                                type="audio/ogg">
                                                    </audio>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="load-msg load-more" style="text-align: center;">查看更多历史消息</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var zhihu_id = '{{ live.zhihu_id }}';
    var searchCondition = {
        page: 1
    };
    var has_next = true;
    RequestServices('/live_next/' + zhihu_id, 'get', searchCondition, SuccessCB);
    function RequestServices(url, type, data, successCB, errorCB) {
        var payload = {
            url: url,
            dataType: 'json',
            type: type,
            data: data,
            success: function (res) {
                console.log(res);
                if (successCB) {
                    successCB(res);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
                if (XMLHttpRequest.status === 400 && errorCB) {
                    errorCB(XMLHttpRequest.responseJSON)
                }
            }

        };
        if (type !== 'get') {
            payload['headers'] = {
                "Content-Type": 'application/json,charset=utf-8',
                'Accept': 'application/json'
            }
        }
        $.ajax(payload);
    }

    function SuccessCB(res) {
        var DOM = '';
        if (res.items && res.items.length > 0) {
            $.each(res.items, function (i, v) {
                if (v.is_played) {
                    if (v.type === 'text') {
                        DOM += '<div data-id="' + v.zhihu_id + '" class="MessageItem-item-1dkw MessageItem-alignStart-2rNW">' +
                            ' <div class="MessageItem-container-2ufC">' +
                            '  <div class="MessageItem-info-3g0Q">' +
                            '   <span class="MessageItem-name-1pbG">' + v.sender + '</span>' +
                            '   <div class="MessageItem-content-sfT0">' +
                            '    <div class="Bubble-bubble-3QtP Bubble-blue-hRSs">' +
                            '     <div class="TextAttachment-text-QdRA">' +
                            '      <span class="Linkify">' + v.text + '</span>' +
                            '     </div>' +
                            '    </div>' +
                            '   </div>' +
                            '  </div>' +
                            ' </div>' +
                            '</div>'
                    } else if (v.type === 'image') {
                        DOM += '<div data-id="' + v.zhihu_id + '" class="MessageItem-item-1dkw MessageItem-alignStart-2rNW">' +
                            ' <div class="MessageItem-container-2ufC">' +
                            '  <div class="MessageItem-info-3g0Q">' +
                            '      <span class="MessageItem-name-1pbG">' + v.sender + '</span>' +
                            '   <div class="MessageItem-content-sfT0 MessageItem-fullWidth-i3vj">' +
                            '    <div class="ImageAttachment-wrapper-2YYB ImageAttachment-isAlignStart-1Cae">' +
                            '     <div id="Zoomable-root-3lUI" class="min">' +
                            '      <div class="FixedSizeImage-container" style="width: 375px; height: 255.6px;">' +
                            '       <img src="' + v.img_url + '"' +
                            '            class="FixedSizeImage-image-27lk" style="height: 100%;width: auto;" />' +
                            '      </div>' +
                            '     </div>' +
                            '    </div>' +
                            '   </div>' +
                            '  </div>' +
                            ' </div>' +
                            '</div>'
                    } else if (v.type === 'audio' && !v.reply) {
                        DOM += '<div data-id="' + v.zhihu_id + '" class="MessageItem-item-1dkw MessageItem-alignStart-2rNW">' +
                            ' <div class="MessageItem-container-2ufC">' +
                            '  <div class="MessageItem-info-3g0Q">' +
                            '   <span class="MessageItem-name-1pbG">' + v.sender + '</span>' +
                            '   <div class="MessageItem-content-sfT0" style="min-width: 100%;">' +
                            '    <div class="MessageItem-playerContainer-1PN6">' +
                            '      <audio controls preload="none" style="width: 375px; height: 54px">' +
                            '          <source src="' + v.audio_url + '" type="audio/mp4">' +
                            '      </audio>' +
                            '    </div>' +
                            '   </div>' +
                            '  </div>' +
                            ' </div>' +
                            '</div>'
                    } else if (v.type === 'audio' && v.reply) {
                        DOM += '<div data-id="758036977177096192" class="MessageItem-item-1dkw MessageItem-alignStart-2rNW">' +
                            '    <div class="MessageItem-container-2ufC">' +
                            '        <div class="MessageItem-info-3g0Q">' +
                            '            <span class="MessageItem-name-1pbG">葛巾</span>' +
                            '            <div class="MessageItem-content-sfT0" style="min-width: 11.3%;">' +
                            '                <div class="MessageItem-playerContainer-1PN6">' +
                            '                    <div class="Bubble-bubble-3QtP MessageItem-playerContainerChild-cgnp Bubble-blue-hRSs">' +
                            '                        <div class="TextAttachment-text-QdRA">' +
                            '                            <span class="Linkify">葛大，即将步入职场的女生在挑选正装方面有什么要注意的地方呢，怎样才能穿着得体又不失活力？</span>' +
                            '                        </div>' +
                            '                        <hr class="MessageItem-split-3r5G"/>' +
                            '                        <audio controls="" preload="none"' +
                            '                               style="width: 375px; height: 54px">' +
                            '                            <source src="https://html5tutorial.info/media/vincent.ogg"' +
                            '                                    type="audio/ogg">' +
                            '                        </audio>' +
                            '                    </div>' +
                            '                </div>' +
                            '            </div>' +
                            '        </div>' +
                            '    </div>' +
                            '</div>'
                    } else {
                        alert('error' + v.type)
                    }
                } else {
                    DOM += '<div data-id="' + v.zhihu_id + '" class="MessageItem-item-1dkw MessageItem-alignEnd-3Dtd">' +
                        ' <div class="MessageItem-container-2ufC">' +
                        '  <div class="MessageItem-info-3g0Q">' +
                        '   <span class="MessageItem-name-1pbG">' + v.sender + '</span>' +
                        '   <div class="MessageItem-content-sfT0">' +
                        '    <div class="Bubble-bubble-3QtP Bubble-grey-2deT">' +
                        '     <div class="TextAttachment-text-QdRA">' +
                        '      <span class="Linkify">' + v.text + '</span>' +
                        '     </div>' +
                        '    </div>' +
                        '   </div>' +
                        '  </div>' +
                        ' </div>' +
                        '</div>';
                }

            });
            has_next = res.has_next;
        } else {
            has_next = false;
        }
        $('.MessagesInfinity-infinity-4X23').append(DOM);
        $('.load-msg').html('查看更多历史消息');
    }
    //点击加载更多会话列表
    $('body').delegate('.load-msg', 'click', function() {
        setTimeout(function() {
            //获取分页数pageNum
            searchCondition.page += 1;
            $('.load-msg').html('努力加载中....');
            //请求
            RequestServices('/live_next/' + zhihu_id, 'get', searchCondition, SuccessCB);
        }, 10);
    });
    $('body').on('click','#Zoomable-root-3lUI',  function() {
            $(this).toggleClass('ReactModal__Overlay ReactModal__Overlay--after-open Dialog-overlay-12_e');
            $(this).toggleClass('min');
        });
</script>
</html>