[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiohttp = "*"
requests = "*"
aiomysql = "*"
mysqlclient = "*"
peewee-async = "*"
pydub = "*"
"aiohttp-jinja2" = "*"
aiohttp-debugtoolbar = "*"


[dev-packages]

