<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Live Manager</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static('bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ static('dashboard.css')}}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-dark bg-primary p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-1" href="{{url('index')}}">Live Manager</a>
    <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" />-->
</nav>

<div class="container-fluid">
    <div class="row">
        {% block content %} {% endblock %}
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ static('jquery-3.3.1.min.js') }}"></script>
{#<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"#}
{#        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"#}
{#        crossorigin="anonymous"></script>#}

<script src="{{ static('bootstrap.bundle.js')}}"></script>

</body>
</html>
