{% extends "layout.html" %}

{% block content %}
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th class="text-center" width="50">ID</th>
                <th class="text-center" width="240">zhihu_id</th>
                <th>标题</th>
                <th width="200" class="text-center">作者</th>
                <th width="200" class="text-center">开始时间</th>
                <th width="100" class="text-center">参与人数</th>
                <th width="100" class="text-center">价格</th>
                <th width="100" class="text-center">点赞人数</th>
                <th width="260" class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            {%- for item in items %}
            <tr>
                <td class="text-center">{{ item.id }}</td>
                <td class="text-center">{{ item.zhihu_id }}</td>
                <td>{{ item.title }}</td>
                <td class="text-center">{{ item.speaker }}</td>
                <td class="text-center">{{ item.starts_at }}</td>
                <td class="text-center">{{ item.seats_count }}</td>
                <td class="text-center">￥{{ item.price / 100 }}</td>
                <td class="text-center">{{ item.liked_num }}</td>
                <td class="text-center">
                    <a href="{{url('live_show', id=item.zhihu_id)}}" class="btn btn-outline-primary btn-sm">进入</a>
                    <a href="{{url('live_detail', id=item.zhihu_id)}}" class="btn btn-outline-info btn-sm">介绍</a>
                    <a href="{{url('live_content', id=item.zhihu_id)}}" class="btn btn-outline-primary btn-sm">编辑</a>
                </td>
            </tr>
            {%- endfor %}

            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                <li class="page-item {{'disabled' if page.current_page == 1 else None}}">
                    <a class="page-link"
                       href="{{url('index', query_={'page': page.current_page-1})}}"
                       tabindex="-1">Previous</a>
                </li>

                {% for i in range(page.start_page, page.end_page) %}
                <li class="page-item {{'active' if page.current_page == i else None}}">
                    <a class="page-link" href="{{url('index', query_={'page': i})}}">{{i}}</a>
                </li>
                {% endfor %}

                <li class="page-item {{'disabled' if page.current_page == page.pages_count else None}}">
                    <a class="page-link"
                       href="{{url('index', query_={'page': page.current_page+1})}}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</main>
{% endblock %}