{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<div class="col-md-4">
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">获取知乎身份信息</h3>
  </div>
  <div class="panel-body">
      <form action="/admin/tools/zhihulogin" method="post">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入知乎用户名" name="username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="请输入知乎密码" name="password">
          </div>
          <button type="submit" class="btn btn-default">验证并保存</button>
      </form>
  </div>
</div>
</div>


<div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">抓取LIVE信息</h3>
      </div>
      <div class="panel-body">
          <p>
              <a href="/admin/tools/crawl_live_list" class="btn btn-default">抓取当前用户购买了哪些LIVE</a>
          </p>

          <p>
              <a href="/admin/tools/crawl_all_live_content" class="btn btn-default">抓取这些LIVE的详细信息</a>
          </p>

      </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">音频转换文字</h3>
      </div>
      <div class="panel-body">
          <p>
              <a href="/admin/tools/transform_all_live_content" class="btn btn-default">将LIVE中所有音频转为文字</a>
          </p>
      </div>
    </div>
</div>
{% endblock body %}